<title>{{ title }}</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/css/main.min.css" media="screen" title="no title" charset="utf-8">
