html,
body {
    position: relative;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    text-align: center;
    color: #fff;
    background-color: #161616;
    font-size: 62.5%;

    font-family: monospace;
}

.container {
    margin: 100px;
    font-size: 4rem;
    height: auto;
}
