<html>
	<head>
		{{> head }}
	</head>
	<body>
		<form method="post" class="form-horizontal" role="form">
			<!-- input -->
			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">First Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name">
				</div>
			</div>
			<!-- input -->
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">Last Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name">
				</div>
			</div>
			<!-- input -->
			<div class="form-group">
				<label for="emailid" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-10">
					<input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label for="passwardid" class="col-sm-2 control-label">Passward</label>
				<div class="col-sm-10">
					<input type="passward" class="form-control" id="passwardid" name="passwardid" placeholder="Passward">
				</div>
			</div>
			<!-- submit button -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Sign Up</button>
				</div>
			</div>
		</form>
		{{> js }}
	</body>
</html>
