/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.banner {
  position: relative;
  flex: 1;
  padding: 4rem 0;
  overflow: hidden;
  text-align: center;
  background-color: var(--background);
  background-image:
    linear-gradient(var(--border) 1px, transparent 1px), linear-gradient(90deg, var(--border) 1px, transparent 1px);
  background-size: 60px 60px;
}

.banner::before {
  position: absolute;
  inset: 0;
  pointer-events: none;
  content: '';
  background: radial-gradient(ellipse 80% 50% at 50% -20%, var(--primary) / 15%, transparent);
}

@media only screen and (width <= 966px) {
  .banner {
    padding: 2rem;
  }
}
