html, body {
  margin: 0;
  padding: 0;
}

.footer {
    background-color: black;
}

.text-main {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    list-style: none;
}

.footer .container .row .col-md-3 ul > li {
    list-style: none;
}
