/* 样式初始化 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, li, pre, form, fieldset, legend, button, input, textarea, th, td ,figure {
  margin: 0;
  padding: 0;
}
body, button, input, select, textarea {
  font: 12px/1.5tahoma, arial, 5b8b4f53;
}
address, cite, dfn, em, var {
  font-style: normal;
}
code, kbd, pre, samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul {
  list-style: none;

  -webkit-margin-start: 40px;
 -webkit-margin-end: 40px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}

figure {
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

fieldset, img {
  border: 0;
}
button, input, select, textarea {
  font-size: 100%;
}
table {
  border-spacing: 0;

  border-collapse: collapse;
}
